#header-menu {
	display: flex;
	flex-direction: row;
	gap: 10px;
	height: 50px;
}

#header-link-menu {
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

#header-link-ul {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

#header-link-ul > li {
	list-style-type: none;
}

#header-link-ul > li > a {
	font-weight: 600;
	color: black;
	position: relative;
	display: inline-flex;
}

#header-link-ul > li > a:hover::before {
    transform: scaleX(1);
}

#header-link-ul > li > a::before {
	content: '';
	position: absolute;
	top: 100%;
	background-color: darkblue;
	width: 100%;
	height: 4px;
	transition: transform 100ms linear;
	transform: scaleX(0);
}
