@import '@/styles/mixins';

#footer-title-block-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	#footer-title {
		font-size: 2.3rem;
		font-family: var(--second-font);
	}

	#footer-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;

		font-size: 1.2rem;
		font-family: var(--main-font);

        #footer-phrase {
            font-size: 1.4rem;
        }
	}

	#footer-link-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		.footer-link-text {
			font-size: 1.2rem;

			.footer-link {
				color: white;
				text-decoration: none;
				font-size: 1.4rem;
				transition: all 100ms linear;

				&:hover {
					text-shadow: 0 0 10px bisque;
				}
			}
		}
	}
}
