#back-button {
	border-radius: 50%;
	border: none;
	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#back-button-icon {
	width: 60px;
	height: 60px;
}

#page-title {
	display: flex;
	align-items: center;
	font-size: 1.8rem;
}

#cart-button {
	position: relative;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

#cart-product-amount {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -15%;
	left: 65%;
	width: 50%;
	height: 50%;
	background-color: coral;
	border-radius: 50%;
}

#header-split-line {
	width: 100%;
	height: 5px;
	background-color: darkblue;
}

@media screen and (max-width: 480px) {
	#back-button-icon {
		width: 40px;
		height: 40px;
	}

	#page-title {
		display: flex;
		align-items: center;
		font-size: 1.4rem;
	}

	#cart-button {
		width: 32px;
		width: 32px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#back-button-icon {
		width: 50px;
		height: 50px;
	}

	#page-title {
		display: flex;
		align-items: center;
		font-size: 1.6rem;
	}
}
