#back-button {
	border-radius: 50%;
	border: none;
	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	#back-button-icon {
		width: 60px;
		height: 60px;
	}
}

#page-title {
	display: flex;
	align-items: center;
	font-size: 1.8rem;
}

#cart-button {
	position: relative;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

#cart-product-amount {
	position: absolute;
	top: -15%;
	left: 65%;
	width: 50%;
	height: 50%;
	background-color: coral;
	border-radius: 50%;
}

#header-split-line {
	width: 100%;
	height: 5px;
	background-color: darkblue;
}
