#modal-menu-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 90px;
	opacity: 1;

	&[data-state='close'] {
		animation: closingMenu 1000ms linear all;
	}

	&[data-state='open'] {
		animation: openingMenu 1000ms linear all;
	}
}

#modal-menu {
	display: flex;
	flex-direction: column;
	gap: 5px;

	border-radius: 1rem;
	border: 2px solid black;
	padding: 0.5rem;
    color: black;

	.modal-menu-button {
		border: none;
		background-color: transparent;
		padding: 0.2rem;
		font-size: 1.2rem;
		cursor: pointer;
	}

	.split-line {
		background-color: black;
		width: 100%;
		height: 2px;
	}
}

#modal-menu-triangle {
	width: 0;
	height: 0;
	position: relative;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}
