#pagination-bar-wrapper {
	display: flex;
	justify-content: center;
	padding: 2rem;

	#pagination-bar {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 75%;
        
		#current-page-pagination-button {
            border: 2px solid black;
			border-radius: 13px;
			background-color: red;
			color: white;
			padding: 0.7rem 1rem;
            font-size: 1.2rem;
		}
        
		#pagination-button {
            border: 2px solid black;
			border-radius: 13px;
			background-color: transparent;
			color: black;
			padding: 0.7rem 1rem;
            font-size: 1.2rem;
		}
	}
}
