@import '../../../../styles/mixins';

#left-text-block-wrapper {
	padding-left: 12%;
	@include flex(column);
}

#top-section-subtitle {
	color: var(--first-color);
	font-family: var(--second-font);
	letter-spacing: 1.5px;
	font-size: 1.3rem;
}

#top-section-title-left {
	font-family: var(--second-font);
	font-size: 3rem;
	line-height: 4rem;
}
