#window-wrapper {
	flex: 2 1 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	#message-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;

		background-color: bisque;
		border: 1px solid black;
		border-radius: 16px;
		padding: 1.8rem;

		#message-text {
			font-size: 2rem;
			font-family: var(--second-font);
		}

		#message-link-wrapper {
			background-color: coral;
			padding: 0.6rem;
			border-radius: 8px;

			#message-link {
				color: white;
				text-decoration: none;
				font-family: var(--main-font);
				font-size: 1.2rem;

				&:focus-visible {
					outline: none;
				}
			}
		}
	}
}
