#review-photo-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;

	#review-photo-small {
		width: 380px;
		height: 260px;
		border-radius: 30px;
	}

	#review-photo-large {
		width: 450px;
		height: 320px;
		border-radius: 30px;
	}
}

@media screen and (max-width: 481px) {
    #review-photo-block {
        display: none;
    }
}