#info-text-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1rem;
}

#info-text-title {
	font-size: 3rem;
}

#info-text-subtitle {
	font-family: var(--second-font);
	font-size: 1.5rem;
}

@media screen and (max-width: 481px) {
	#info-text-title {
		font-size: 2.6rem;
	}
}
