#form-wrapper {
	width: fit-content;
	padding: {
		top: 3rem;
		bottom: 3rem;
		left: 5rem;
		right: 5rem;
	}

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;

	background-color: rgba($color: #fff, $alpha: 1);
	border-radius: 30px;

	#form-wrapper-title {
		font-family: sans-serif;
		font-size: 1.8rem;
	}
}

.password-wrapper {
	width: 300px;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.registration-form-wrapper {
	width: fit-content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.4rem;

	font-family: sans-serif;

	.toggle-password-visible-button {
		width: 40px;
		background-color: transparent;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sign-in-link-wrapper {
		display: flex;
		justify-content: center;

		.sign-in-link {
			text-align: center;
			cursor: pointer;
			color: black;

			&:hover {
				text-decoration: underline;
			}

			&:visited {
				color: black;
			}
		}
	}
}
