* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: overlay;
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: var(--main-font);
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: rgba($color: gray, $alpha: 0.5);
    border-radius: 1.2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba($color: gray, $alpha: 1.0);
}