:root {
	--main-font: 'Montserrat', sans-serif;
	--main-font-weight: 700;
	--main-font-second-weight: 400;
	--second-font: 'Lato', sans-serif;
	--second-font-weight: 400;

	--first-color: #3c6255;
	--second-color: #61876e;
	--third-color: #a6bb8d;
	--four-color: #eae7b1;
}
