@import 'tailwindcss/base';

@layer base {
	:root {
		--main-font: 'Montserrat', sans-serif;
		--main-font-weight: 700;

		--first-color: #f6ffde;
        --second-color: #eae7b1;
		--first-dark-color: #0c1f3d;
	}
}
