#logined-user {
    display: flex;
    justify-content: center;
    align-items: center;

    #logined-user-button {
        border-radius: 50%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}