.card-wrapper {
	padding: {
		left: 0.5rem;
		right: 0.5rem;
		top: 0.6rem;
		bottom: 0.6rem;
	}
	border: 1px solid #0e1f40;
	border-radius: 10px;
	background-color: bisque;
	word-break: break-word;

	display: flex;
	flex-direction: column;

	.card-photo {
		width: 100px;
		height: 100px;
	}

	.card-title {
		color: black;
		text-decoration: none;
		font-weight: bold;
		text-align: center;
		font-size: 1.3rem;

		&:hover {
			text-decoration: underline;
		}
	}

	.card-desc {
		height: 50%;
	}

	.seller-data-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.card-price {
			font-weight: bold;
			font-family: var(--second-font);
		}
	}
}
