#info-text-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 15px;

	#info-text-title {
		color: white;
		font-family: var(--main-font);
		font-size: 3rem;
	}

	#info-text-subtitle {
		color: white;
		font-family: var(--second-font);
		font-size: 1.5rem;
	}
}
