.card-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	.info-card-photo {
		width: 330px;
		height: 230px;
	}

	.card-text-wrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;

		.info-card-title,
		.info-card-body {
			font-family: var(--main-font);
			font-weight: var(--main-font-weight);
			width: 330px;
		}

		.info-card-title {
			font-size: 1.8rem;
		}

		.info-card-body {
			font-size: 1.2rem;
			font-weight: 400;
		}
	}
}
