#filter-bar-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;

	#select-boxes-wrapper {
		width: 75%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}
