#right-text-block-wrapper {
	padding-right: 10%;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

#top-section-title-right {
	display: flex;
	align-items: center;
	text-align: right;
	font-family: var(--second-font);
	font-size: 2rem;
	line-height: 3.4rem;
}

#second-part-title-right {
	display: flex;
	align-items: center;
	font-family: var(--second-font);
	font-size: 1.5rem;
}

#top-section-curly-brackets {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	position: relative;
	top: -13px;
	font-size: 12rem;
}
