#review-main-block {
	display: flex;
	flex-direction: column;
	gap: 30px;

	#review-text-subtitle {
		font-family: var(--second-font);
		font-size: 2rem;
	}

	#review-text-title {
		font-family: var(--main-font);
		font-size: 1.3rem;
	}

	#review-text-body-wrapper {
		display: flex;
		flex-direction: row;
		gap: 20px;

		#review-text-photo {
			border-radius: 30px;
			width: 300px;
			height: 400px;
		}
	}

	#review-text-body-content {
		padding-top: 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		#review-text-body-title {
			width: 300px;
			text-align: right;
			font-size: 1.2rem;
			font-family: var(--main-font);
		}

		#review-text-body-name {
			font-family: var(--second-font);
			font-size: 1.5rem;
		}

		#review-text-body-post {
			font-family: var(--second-font-weight);
			font-size: 1.1rem;
		}
	}
}

#review-text-photo {
	width: 300px;
	height: 300px;
}
