#hours-block-title-wrapper {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

#hours-info-block {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.hours-text-line {
		display: flex;
		flex-direction: row;
		gap: 30px;
		width: 100%;
		justify-content: space-between;

		.hours-text-line-left {
			font-family: var(--main-font);
			font-size: 1.4rem;
			color: white;

			display: flex;
			justify-content: space-between;
		}

		.hours-text-line-right {
			font-family: var(--main-font);
			font-size: 1.4rem;
			color: var(--four-color);
		}
	}
}
