#product-row {
    background-color: lighten($color: #d3d3d3, $amount: 5);
    border-radius: 15px;
    padding: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

    #main-product-data {
        display: flex;
        flex-direction: row;
        gap: 20px;

        #title {
            font-weight: bold;
        }

        #creator {
            font-size: 1rem;
            display: flex;
            align-items: center;
        }
    }

    #secondary-product-data {
        display: flex;
        flex-direction: row;
        gap: 10px;

        #price {
            display: flex;
            font-weight: bold;
            align-items: center;
        }

        #delete-button {
            background-color: transparent;
            border: none;
        }
    }
}