#success-menu {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	background-color: white;
	z-index: 101;
	word-wrap: break-word;

	width: 250px;
	position: fixed;
	top: 25%;
	right: -430px;
	border: 2px solid black;
	padding: 0.6rem;
	padding-right: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#success-menu-message {
	text-align: center;
	font-family: sans-serif;
	font-size: 1.2rem;
}
